.footer{
    background-color: black;
    color: white;
    padding: 20px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-content p{
    margin: auto;
}
.social-icons a {
    color: white;
    margin-left: 15px;
    font-size: 20px;
    transition: color 0.4s ease ; /*chatgpt*/ 
}
.social-icons a:hover{
    color: yellow;
}